parameters:


application:
	errorPresenter: Error
	mapping:
		*: [App, Modules\*, Presenters\*Presenter]


session:
	expiration: 14 days


security:
	users:
		admin: secret  # user 'admin', password 'secret'


services:
	router: App\Router\RouterFactory::createRouter
	- App\Model\CheckPasswordModel
	- App\Model\InterpretModel
	- App\Model\InterpretManagerModel
	- App\Model\FestivalModel
	- App\Model\FesticalManagerModel
	- App\Model\AccountModel
