body {
	font: 16px/1.5 Georgia, Verdana, Arial;
	margin: 0 auto;
	width: 600px;
	color: #333;
	background-color: #fff;
}

div.flash {
	color: black;
	background: #f33f3f;
	border: 1px solid #cc6f17;
	padding: 1em;
	margin: 1em 0;
}

a[href^="#error:"] {
	background: red;
	color: white;
}

form th, form td {
	vertical-align: top;
	font-weight: normal;
}

form th {
	text-align: right;
}

form .required label {
	font-weight: bold;
}

form .error {
	color: #D00;
	font-weight: bold;
}